.container {
  position: relative;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include viewport--xl {
    max-width: 970px;
  }

  @include viewport--lg {
    max-width: 690px;
  }

  @include viewport--md {
    padding: 0 20px;
  }

  @include viewport--sm {
    padding: 0 14px;
  }
}
