.header-admin {
  padding: 37px 0px 27px;
}

.header-admin__wrapper {
  display: flex;
  align-items: center;
}

.header-admin__toggle {
  @include reset-btn;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 14px;

  margin-right: 20px;
  padding: 10px 10px;

  box-sizing: content-box;
  user-select: none;
}

.header-admin__toggle > span {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 2px;
  vertical-align: bottom;
  background-color: #86888A;
  transition: background-color 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#86888A;
    transform-origin: 50% 50%;
    transition: top 0.15s 0.15s ease,
                transform 0.15s ease;

  }

  &::before {
    top: 6px;
  }

  &::after {
    top: -6px;
  }

  .main-nav--open & {
    background-color: initial;

    &::before,
    &::after {
      top: 0;
      transition: top 0.15s ease,
                  transform 0.15s 0.15s ease;
    }

    &::before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &::after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}

.header-admin__logo {
  width: 240px;
  height: 29px;

  @include viewport--sm {
    width: 185px;
    height: 22px;
  }
}

.header-admin__actions {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.header-admin__link {
  margin-right: 15px;

  color: rgba(255, 255, 255, 0.6);

  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: right;

}

.header-admin__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  margin-right: 1px;
  border: none;

  background-color: #515151;
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &--question {
    background-image: url('../img/question.svg');
  }

  &--close {
    background-image: url('../img/close.svg');
  }
}
