.button-remove {
  width: 26px;
  height: 26px;
  border: none;
  font-size: 0;
  background-color: #f5f5f5;
  background-image: url('../img/remove.svg');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
