.button {
  display: inline-block;
  padding: 14px 20px;
  position: relative;
  border: none;
  color: #fff;
  background-color: #4487c6;
  font-family: $font-family--ibm;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #4181bd;
  }

  &--white {
    color: #454545;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    &:hover,
    &:focus {
      color: #454545;
      background-color: #fafafa;
    }
  }

  &--grey {
    color: #fff;
    background-color: #515151;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #2e2e2e;
    }
  }
}
