.card {
  position: relative;
  padding: 36px 0 40px;

  @include viewport--sm {
    padding: 22px 0 27px;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: -25%;

    width: 150%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &--active {
    padding: 36px 0 50px;

    @include viewport--sm {
      padding: 22px 0 50px;
    }
  }
}

.card__content {
  display: none;

  .card--active & {
    display: block;
  }
}

.card__header {
  margin: 0;

  .card--active & {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 31px;

    @include viewport--sm {
      padding-bottom: 22px;
    }
  }
}

.card__title {
  margin: 0;
  cursor: pointer;

  @include viewport--sm {
    font-size: 24px;
    line-height: 140%;
  }

  .card--active & {
    margin: 0;
    position: relative;

    &::after {
      content: '';
      width: 40px;
      height: 2px;
      position: absolute;
      bottom: -31px;
      left: 2px;
      background-color: #4487c6;

      @include viewport--sm {
        bottom: -22px;
      }
    }
  }
}

.card__remove-button {
  display: none;

  width: 26px;
  height: 26px;
  border: none;
  background-color: #f5f5f5;
  background-image: url('../img/remove.svg');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  .card--active & {
    display: block;
  }
}

.card__table {
  margin-bottom: 60px;
  width: 100%;
  border-collapse: collapse;

  @include viewport--sm {
    margin-bottom: 40px;
  }
}

.card__tr {
  display: flex;
  align-items: center;

  @include viewport--sm {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  &:nth-child(odd) {
    background-color: #f5f5f5;
  }

  &:nth-child(even) {
    @include viewport--sm {
      background-color: #fdfdfd;
    }
  }
}

.card__th {
  flex-basis: 170px;
  margin: 0 40px 0 0;
  padding: 10px 0 10px 14px;
  text-align: right;
  font-weight: 500;
  color: rgba(69, 69, 69, 0.6);

  @include viewport--sm {
    flex-basis: auto;
    margin: 0 0 2px 0;
    padding: 0;
  }
}

.card__td {
  flex-grow: 1;
  padding: 10px 14px 10px 0;

  @include viewport--sm {
    padding: 0;
  }
}

.card__buttons {
  display: flex;

  @include viewport--sm {
    flex-direction: column;
  }
}

.card__button {
  margin: 0 30px 0 0;

  @include viewport--sm {
    width: 100%;
    margin: 0 0 12px 0;
  }

  &:last-child {
    margin: 0;
  }
}

.card__add {
  position: absolute;
  right: 10px;
  bottom: 10px;

  width: 60px;
  height: 60px;
  margin: auto;

  border: none;
  border-radius: 50%;

  background-color: #4487c6;
  background-image: url('../img/plus.svg');
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;

  span {
    display: none;
    padding: 12px 15px;
    position: absolute;
    top: 50%;
    right: calc(100% + 22px);
    color: #fff;
    white-space: nowrap;
    font-size: 12px;
    background-color: #515151;
    transform: translateY(-50%);
  }

  &:hover span {
    display: block;
  }
}