.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 10;

  @include viewport--sm {
    background-color: #515151;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo-wrapper {
  margin-right: 48px;
  flex-shrink: 0;

  @include viewport--lg {
    margin-right: 0;
  }
}

.header__logo {
  width: 240px;
  height: 29px;

  @include viewport--sm {
    width: 185px;
    height: 22px;
  }
}
