.line-1,
.line-2,
.line-3 {
  width: 110px;
  position: absolute;
  transform: skew(45deg);
  z-index: 0;

  @include viewport--lg {
    display: none;
  }
}

.line-1 {
  height: 280px;
  top: -100px;
  right: 180px;
  background-color: #4487c6;

  &--left {
    right: 510px;
  }

  &--admin {
    right: 370px;
  }
}

.line-2 {
  height: 1000px;
  top: -616px;
  left: -690px;
  background-color: #4487c6;

  &--long {
    top: -300px;
    left: -590px;
  }
}

.line-3 {
  height: 1000px;
  top: 384px;
  right: -700px;
  background-color: #515151;

  &--blue {
    background-color: #4487c6;
  }
}
