.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__section {
  width: 100%;
  max-width: 415px;
}

.login__title {
  margin: 0 0 40px 0;
  padding-bottom: 29px;
  position: relative;

  &::after {
    content: '';
    width: 40px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 2px;
    background-color: #4487c6;
  }
}

.login__content {
  margin-bottom: 24px;
  padding: 44px 50px 50px 50px;
  background-color: #fff;

  @include viewport--sm {
    padding: 30px 24px 40px;
  }
}

.login__list {
  @include reset-list;
  margin-bottom: 40px;
}

.login__text-input {
  margin-bottom: 24px;
}

.login__actions {
  display: flex;
  align-items: center;
}

.login__button {
  margin-right: 30px;
  letter-spacing: -0.02em;
}

.login__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__link {
  border: none;
  color: rgba(131, 131, 131);
  font-size: 13px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: rgba(131, 131, 131, 0.8);
  }

  &--back {
    padding-left: 14px;
    position: relative;

    &::before {
      content: '←';
      display: block;
      position: absolute;
      left: 0;
    }
  }
}
