.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.04);

  @include viewport--sm {
    margin: 0 -20px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 18px;
    left: 25px;
    width: 14px;
    height: 14px;
    background-image: url('../img/search.svg');
    opacity: 0.3;
  }
}

.search__input {
  width: 100%;
  height: inherit;
  padding: 0 30px;
  border: none;
  font-weight: 500;
  background-color: transparent;
  outline: none;

  &:focus::placeholder {
    color: rgba(69, 69, 69, 0.2);
  }

  &::placeholder {
    color: rgba(69, 69, 69, 0.3);
  }
}

.search__add {
  position: relative;

  min-width: 134px;
  padding: 6px 28px 6px 9px;
  border: 1px solid #dbdbdb;
  color: #7a7a7a;
  font-weight: 500;
  font-size: 11px;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    background-color: #ababab;
  }

  &::after {
    top: 11px;
    right: 11px;
  }

  &::before {
    top: 11px;
    right: 11px;
    transform: rotate(90deg);
  }
}
