.static-page h2 {
  position: relative;
  max-width: 680px;
  margin: 0 0 33px;
  padding-bottom: 25px;

  &::after {
    content: '';
    width: 40px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4487c6;
  }
}

.static-page p {
  color: #454545;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  text-align: justify;
}

.static-page ul {
  @include reset-list;

  margin: 22px 0;
  font-weight: 400;
  line-height: 160%;
}

.static-page li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 28px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    width: 6px;
    height: 6px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #4487c6;
  }
}