.transaction {
  position: relative;
  padding: 36px 0 50px;

  @include viewport--sm {
    padding: 22px 0 50px;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: -25%;

    width: 150%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.transaction__header {
  margin-bottom: 40px;
  padding-bottom: 31px;

  @include viewport--sm {
    padding-bottom: 22px;
  }
}

.transaction__title {
  margin: 0;
  position: relative;

  @include viewport--sm {
    font-size: 24px;
    line-height: 140%;
  }

  &::after {
    content: '';
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: -31px;
    left: 2px;
    background-color: #4487c6;

    @include viewport--sm {
      bottom: -22px;
    }
  }
}

.transaction__table {
  width: 100%;
  border-collapse: collapse;
}

.transaction__tr {
  display: flex;
  align-items: center;

  @include viewport--sm {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  &:nth-child(odd) {
    background-color: #f5f5f5;
  }

  &:nth-child(even) {
    @include viewport--sm {
      background-color: #fdfdfd;
    }
  }
}

.transaction__th {
  flex: 0 0 115px;
  margin-right: 8%;
  padding: 8px 0 34px 14px;
  font-weight: 500;
  color: rgba(69, 69, 69, 0.6);

  @include viewport--sm {
    flex-basis: auto;
    margin: 0 0 2px 0;
    padding: 0;
  }
}

.transaction__td {
  padding: 8px 14px 34px 0;

  &:nth-child(2) {
    flex: 1 1 auto;
    margin-right: 8%;

    @include viewport--sm {
      flex-basis: auto;
      margin: 0 0 2px 0;
      padding: 0;
    }
  }

  &:nth-child(3) {
    flex: 0 0 90px;
    margin-right: 6%;
    color: rgba(69, 69, 69, 0.6);

    @include viewport--sm {
      flex-basis: auto;
      margin: 0 0 2px 0;
      padding: 0;
    }
  }

  &:last-child {
    flex: 0 0 85px;
    text-align: right;

    @include viewport--sm {
      flex-basis: auto;
      padding: 0;
    }
  }
}
