$color-black:                     #000000;
$color-light-black:               #292929;
$color-lighter-black:             #4a4a4a;
$color-gray-dark:                 #e5ddd5;
$color-gray:                      #ebebeb;
$color-yellow-white:              #fcfbf9;
$color-white:                     #ffffff;
$color-blue-1:                    #1a73e8;
$color-blue-2:                    #2980b9;
$color-transparent:               rgba(255, 255, 255, 0);
$color-vkontakte:                 #2787f5;
$color-facebook:                  #4064ac;
$color-instagram:                 #f72e6b;

$font-family--roboto:             Roboto, Arial, sans-serif;

$viewport--xsm:                   320px;
$viewport--sm:                    576px;
$viewport--md:                    768px;
$viewport--lg:                    992px;
$viewport--xl:                    1200px;
