$active: #515151;
$bg-input: #f5f5f5;
$blue: #4487c6;
$color-bg: #2e2e2e;
$color-text-bg: #ababab;
$light-gray: #d2d3d5;
$text: #454545;
$white: #ffffff;

$font-family--montserrat:        'Montserrat', Arial, sans-serif;
$font-family--ibm:               'IBM Plex Sans', Arial, sans-serif;

$viewport--xsm:                   320px;
$viewport--sm:                    576px;
$viewport--md:                    768px;
$viewport--lg:                    1024px;
$viewport--xl:                    1280px;
