.checkbox-input {
  line-height: 16px;
}

.checkbox-input__input + .checkbox-input__label {
  position: relative;

  display: block;
  padding: 2px 0 2px 34px;
  color: rgba(69, 69, 69, 0.7);
  cursor: pointer;
  user-select: none;
}

.checkbox-input__input + .checkbox-input__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  background-color: #f1f1f1;;
}

.checkbox-input__input:checked + .checkbox-input__label::after {
  content: '';
  width: 9px;
  height: 6.5px;
  position: absolute;
  top: 7.5px;
  left: 5.25px;
  background-image: url('../img/check.svg');
  background-size: cover;
}

.checkbox-input__input:checked + .checkbox-input__label::before {
  background-color: #515151;
}
