.text-input {
  position: relative;
  padding-top: 30px;
}

.text-input__input {
  width: 100%;
  margin-top: 6px;
  padding: 13px 30px 13px 10px;
  border: 0;
  background-color: #f5f5f5;

  &:active,
  &:focus {
    background-color: #f1f1f1;
    outline: none;
  }
}

.text-input__label {
  position: absolute;
  top: 0;
  left: 0;

  color: rgba(69, 69, 69, 0.7);
}
